<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-isappfromplaystore"
    version="0.0.1">

    <name>IsAppFromPlayStore</name>

    <description>Cordova plugin check wheather the current app is install from playstore or not.</description>
    <author>Shriniwas Bhoybar</author>
    <keywords>android,app,cordova,isappfromplaystore</keywords>

    <engine>
        <engine name="cordova" version=">=3.0.0" />
    </engine>

    <license>MIT</license>

    <js-module src="www/IsAppFromPlayStore.js" name="IsAppFromPlayStore">
        <clobbers target="cordova.isAppFromPlayStore" />
    </js-module>

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="IsAppFromPlayStore" >
            <param name="android-package" value="com.laurus.plugins.IsAppFromPlayStore"/>
          </feature>
        </config-file>

        <source-file src="src/android/IsAppFromPlayStore.java" 
            target-dir="src/com/laurus/plugins" />

    </platform>
</plugin>
